In [21]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [22]:
sp = SparkSession.builder.appName(' Home work ').getOrCreate()

In [23]:
train_data = f'./data/fhv_tripdata_2021-01.parquet'
test_data = f'./data/fhv_tripdata_2021-02.parquet'

In [24]:
def get_dataframe(filename):
#     df = sp.read.parquet(filename, inferSchema=True).cache
    df = sp.read.parquet(filename, inferSchema=True)
#     Getting the number of Record in dataframe
    print("Number of Row in this Dataframe is : ", record_counter(df))
    df = time_conversion(df)
    print("Average Duration is: ", getAvgDuration(df))
    df_betw_1_60 = df_filter(df)
    print("Number Record droped is : ",record_counter(df) - record_counter(df_betw_1_60) )
    df_betw_1_60.show()
    print("Number of Null/NA for each Row")
    Null_count = count_null(df, 'PUlocationID', 'DOLocationID')
    Null_count.show()
    print('Percentageof NA in PUlocationID is :')
    print((extrac_row_value(Null_count) * 100) / record_counter(df))
    df = replace_null(df_betw_1_60, 'PUlocationID', 'DOLocationID')
    print("Select Needed Column for ML")
    df = selectCol(df)
    df = castCol(df)
    df = ohe(df)
    df = pruneCol(df)
    return df

In [25]:
def time_conversion(df):
    df = df.withColumn('duration', (unix_timestamp(df.dropOff_datetime) - unix_timestamp(df.pickup_datetime)) / 60)
    return  df

In [26]:
def castCol(df):
    #  Column Casting Process:
    feature_columns = df.withColumn("PUlocationID", col("PUlocationID").cast(StringType())) \
                .withColumn("DOLocationID", col("DOLocationID").cast(StringType()))
    
    return feature_columns

In [27]:
def selectCol(df):
    # Feature Extraction
    categorical = ["PULocationID","DOLocationID"]
    numerical = ["duration"]
    # In future project, tips-amount should be use as label
    # Read Article : https://stackoverflow.com/questions/47871874/does-spark-do-one-pass-through-the-data-for-multiple-withcolumn
    feature_columns = df.select(categorical + numerical)
    
    return feature_columns

In [28]:
# Data preparation and feature engineering

In [29]:
#  Implementing One Hot encoding on "PULocationID" and "DOLocationID" column
def ohe(feature_columns):
    from pyspark.ml.feature import StringIndexer
    feature_columns = StringIndexer(
    inputCol='PUlocationID', 
    outputCol='Pick_UP', 
    handleInvalid='keep').fit(feature_columns).transform(feature_columns)
    
    feature_columns = StringIndexer(
    inputCol='DOLocationID', 
    outputCol='Drop_OFF', 
    handleInvalid='keep').fit(feature_columns).transform(feature_columns)

    return feature_columns

In [30]:
# Drop unnecessary columns
def pruneCol(df):
    feature_columns = df.drop('PUlocationID', 'DOLocationID')
    return feature_columns

In [31]:
def record_counter(df):
    return df.count()

In [32]:
def getAvgDuration(df):
    return df.agg(avg(col('duration'))).show()

In [33]:
def df_filter(df):
#     df = df.select(df.where(df.duration.between(1,60)))
#     return df.show()
#     df.filter(df.where(df.duration.between(1,60)))
    return df.filter(df.duration.between(1,61))

In [34]:
# https://sparkbyexamples.com/pyspark/pyspark-find-count-of-null-none-nan-values/#:~:text=In%20PySpark%20DataFrame%20you%20can,count()%20and%20when().
def count_null(df, col1, col2):
    df_Columns=[col1,col1]

    return df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_Columns])

In [35]:
def extrac_row_value(df):
    return df.head()[0]

In [36]:
def replace_null(df, col1, col2):
    return df.na.fill(value=-1,subset=[col1, col2])

In [37]:
#  Test
train_data = get_dataframe(train_data)
train_data.show()

Number of Row in this Dataframe is :  1154112
+----------------+
|   avg(duration)|
+----------------+
|19.1672240937939|
+----------------+

Average Duration is:  None
Number Record droped is :  43014
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|          duration|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------------+
|              B00009|2021-01-01 01:27:00|2021-01-01 01:44:00|        null|        null|   null|                B00009|              17.0|
|              B00009|2021-01-01 01:50:00|2021-01-01 02:07:00|        null|        null|   null|                B00009|              17.0|
|              B00037|2021-01-01 01:13:09|2021-01-01 01:21:26|        null|        72.0|   null|                B00037| 8.283333333333333|
|              B00037|2021-01-01 01:38:31|2021-01-01 01:53:44|        null|        61.0|   null|                B00037|15.216666666666667|
|              B00037|2021-01-01 01:59:02|2021-01-01 02:08:05|        null|        71.0|   null|                B00037|              9.05|
|              B00037|2021-01-01 01:18:12|2021-01-01 01:30:04|        null|        91.0|   null|                B00037|11.866666666666667|
|              B00037|2021-01-01 01:36:15|2021-01-01 01:45:08|        null|        39.0|   null|                B00037| 8.883333333333333|
|              B00037|2021-01-01 01:55:04|2021-01-01 02:13:02|        null|        37.0|   null|                B00037|17.966666666666665|
|              B00037|2021-01-01 01:48:40|2021-01-01 02:12:02|        null|        39.0|   null|                B00037|23.366666666666667|
|              B00037|2021-01-01 01:27:23|2021-01-01 01:29:25|        null|        72.0|   null|                B00037| 2.033333333333333|
|              B00037|2021-01-01 01:39:07|2021-01-01 01:43:26|        null|        72.0|   null|                B00037| 4.316666666666666|
|              B00037|2021-01-01 01:55:57|2021-01-01 02:10:08|        null|        89.0|   null|                B00037|14.183333333333334|
|              B00095|2021-01-01 01:17:54|2021-01-01 01:20:57|        null|       177.0|   null|                B00095|              3.05|
|              B00095|2021-01-01 01:31:59|2021-01-01 01:42:41|        null|       225.0|   null|                B00095|              10.7|
|              B00095|2021-01-01 01:46:23|2021-01-01 01:57:33|        null|        63.0|   null|                B00095|11.166666666666666|
|              B00111|2021-01-01 01:40:00|2021-01-01 02:41:00|        null|        null|   null|                B03234|              61.0|
|              B00112|2021-01-01 01:21:10|2021-01-01 01:42:42|        null|        67.0|   null|                B00112|21.533333333333335|
|              B00112|2021-01-01 01:53:10|2021-01-01 02:03:24|        null|        22.0|   null|                B00112|10.233333333333333|
|              B00112|2021-01-01 01:42:38|2021-01-01 02:15:46|        null|        61.0|   null|                B00112| 33.13333333333333|
|              B00112|2021-01-01 01:54:48|2021-01-01 02:18:21|        null|        14.0|   null|                B00112|             23.55|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------------+
only showing top 20 rows

Number of Null/NA for each Row
+------------+------------+
|PUlocationID|PUlocationID|
+------------+------------+
|      958267|      958267|
+------------+------------+

Percentageof NA in PUlocationID is :
83.03067639882438
Select Needed Column for ML

+------------------+-------+--------+
|          duration|Pick_UP|Drop_OFF|
+------------------+-------+--------+
|              17.0|    0.0|     0.0|
|              17.0|    0.0|     0.0|
| 8.283333333333333|    0.0|    30.0|
|15.216666666666667|    0.0|     5.0|
|              9.05|    0.0|    67.0|
|11.866666666666667|    0.0|    76.0|
| 8.883333333333333|    0.0|    42.0|
|17.966666666666665|    0.0|    24.0|
|23.366666666666667|    0.0|    42.0|
| 2.033333333333333|    0.0|    30.0|
| 4.316666666666666|    0.0|    30.0|
|14.183333333333334|    0.0|    55.0|
|              3.05|    0.0|    46.0|
|              10.7|    0.0|    40.0|
|11.166666666666666|    0.0|    34.0|
|              61.0|    0.0|     0.0|
|21.533333333333335|    0.0|   109.0|
|10.233333333333333|    0.0|    64.0|
| 33.13333333333333|    0.0|     5.0|
|             23.55|    0.0|    45.0|
+------------------+-------+--------+
only showing top 20 rows

In [38]:
test_data = get_dataframe(test_data)

Number of Row in this Dataframe is :  1037692
+-----------------+
|    avg(duration)|
+-----------------+
|20.70698622520125|
+-----------------+

Average Duration is:  None
Number Record droped is :  46100
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|          duration|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------------+
|     B00021         |2021-02-01 01:55:40|2021-02-01 02:06:20|       173.0|        82.0|   null|       B00021         |10.666666666666666|
|     B00021         |2021-02-01 01:14:03|2021-02-01 01:28:37|       173.0|        56.0|   null|       B00021         |14.566666666666666|
|     B00021         |2021-02-01 01:27:48|2021-02-01 01:35:45|        82.0|       129.0|   null|       B00021         |              7.95|
|              B00037|2021-02-01 01:12:50|2021-02-01 01:26:38|        null|       225.0|   null|                B00037|              13.8|
|              B00037|2021-02-01 01:00:37|2021-02-01 01:09:35|        null|        61.0|   null|                B00037| 8.966666666666667|
|              B00112|2021-02-01 01:30:25|2021-02-01 01:57:23|        null|        26.0|   null|                B00112|26.966666666666665|
|              B00149|2021-02-01 01:43:16|2021-02-01 02:03:16|        null|        72.0|   null|                B00149|              20.0|
|              B00225|2021-02-01 01:23:27|2021-02-01 01:55:46|        null|       169.0|   null|                B00225| 32.31666666666667|
|              B00225|2021-02-01 01:10:38|2021-02-01 01:50:15|        null|       161.0|   null|                B02872| 39.61666666666667|
|              B00254|2021-02-01 01:05:46|2021-02-01 01:40:41|        13.0|       182.0|   null|                B00254|34.916666666666664|
|              B00254|2021-02-01 01:14:25|2021-02-01 01:24:56|       152.0|       244.0|   null|                B02872|10.516666666666667|
|              B00256|2021-02-01 01:39:11|2021-02-01 02:18:44|        null|        null|   null|                B00256|             39.55|
|              B00256|2021-02-01 01:33:24|2021-02-01 02:23:44|        null|        null|   null|                B00256|50.333333333333336|
|              B00256|2021-02-01 01:05:19|2021-02-01 01:24:40|        null|        null|   null|                B00256|             19.35|
|              B00271|2021-02-01 01:04:07|2021-02-01 02:03:03|        null|       265.0|   null|                B00271| 58.93333333333333|
|              B00271|2021-02-01 01:07:13|2021-02-01 01:08:49|        null|       237.0|   null|                B00271|               1.6|
|              B00310|2021-02-01 01:11:21|2021-02-01 01:15:44|        null|       248.0|   null|                B00310| 4.383333333333334|
|              B00310|2021-02-01 01:27:03|2021-02-01 01:30:20|        null|       248.0|   null|                B00310| 3.283333333333333|
|              B00310|2021-02-01 01:36:39|2021-02-01 01:59:25|        null|       159.0|   null|                B00310|22.766666666666666|
|              B00310|2021-02-01 01:37:16|2021-02-01 02:06:22|        null|       213.0|   null|                B02788|              29.1|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------------+
only showing top 20 rows

Number of Null/NA for each Row
+------------+------------+
|PUlocationID|PUlocationID|
+------------+------------+
|      884691|      884691|
+------------+------------+

Percentageof NA in PUlocationID is :
85.25564425667731
Select Needed Column for ML

In [39]:
# Assemble all the features with VectorAssembler
def feature_assembler(df):
    from pyspark.ml.feature import VectorAssembler
    x_features = ['Pick_UP',
                    'Drop_OFF'                   ]
    feature_assembler = VectorAssembler(
    inputCols=x_features, 
    outputCol='features')
    transformed_data = feature_assembler.transform(df)
    
    return transformed_data

In [40]:
transformed_train_data = feature_assembler(train_data)
transformed_test_data = feature_assembler(test_data)

In [41]:
#  Apply Model Function
from pyspark.ml.regression import LinearRegression

lr = LinearRegression(featuresCol = 'features', labelCol='duration', maxIter=10, regParam=0.3, elasticNetParam=0.8)
lr_model = lr.fit(transformed_train_data)

print("Coefficients: " + str(lr_model.coefficients))
print("Intercept: " + str(lr_model.intercept))

22/05/22 22:19:29 WARN InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.JNIBLAS
22/05/22 22:19:29 WARN InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.ForeignLinkerBLAS

Coefficients: [0.03965500955265982,0.006032146879372192]
Intercept: 15.638580165296206

In [42]:
# Evaluation

trainingSummary = lr_model.summary
print("RMSE: %f" % trainingSummary.rootMeanSquaredError)
print("r2: %f" % trainingSummary.r2)

RMSE: 11.532699
r2: 0.018638

In [46]:
# Model validation
# Test Prediction
from pyspark.ml.evaluation import RegressionEvaluator

predictions = lr_model.transform(transformed_test_data)
predictions.select("prediction","duration","features").show()
lr_evaluator = RegressionEvaluator(
    labelCol="duration", predictionCol="prediction", metricName="rmse")
rmse = lr_evaluator.evaluate(predictions)
print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)

+------------------+------------------+------------+
|        prediction|          duration|    features|
+------------------+------------------+------------+
|16.456594743122874|10.666666666666666| [15.0,37.0]|
|16.679784177659645|14.566666666666666| [15.0,74.0]|
| 16.34969400822364|              7.95| [12.0,39.0]|
|15.910026774867955|              13.8|  [0.0,45.0]|
|15.668740899693066| 8.966666666666667|   [0.0,5.0]|
|  15.7049337809693|26.966666666666665|  [0.0,11.0]|
|15.831608865436117|              20.0|  [0.0,32.0]|
|15.686837340331184| 32.31666666666667|   [0.0,8.0]|
|16.507209315925802| 39.61666666666667| [0.0,144.0]|
| 24.14352813904201|34.916666666666664|[202.0,82.0]|
|19.408376091401834|10.516666666666667|  [94.0,7.0]|
|15.638580165296206|             39.55|   (2,[],[])|
|15.638580165296206|50.333333333333336|   (2,[],[])|
|15.638580165296206|             19.35|   (2,[],[])|
| 15.65064445905495| 58.93333333333333|   [0.0,2.0]|
|16.525305756563917|               1.6| [0.0,147.0]|
|15.958283949902933| 4.383333333333334|  [0.0,53.0]|
|15.958283949902933| 3.283333333333333|  [0.0,53.0]|
|15.807480277918627|22.766666666666666|  [0.0,28.0]|
|15.741126662245533|              29.1|  [0.0,17.0]|
+------------------+------------------+------------+
only showing top 20 rows

Root Mean Squared Error (RMSE) on test data = 12.0051
<bound method DataFrame.summary of DataFrame[duration: double, Pick_UP: double, Drop_OFF: double, features: vector, prediction: double]>